output "DP-1" {
    mode "3440x1440@100.000"
    // mode "2560x1440@59.951"
    position x=0 y=1080
    scale 1
    focus-at-startup
}

output "DP-2" {
    mode "1920x1080@143.981"
    position x=760 y=0
    scale 1
}
