layout {
    gaps 8
    always-center-single-column
    center-focused-column "never" // on-overflow | always | never

    background-color "transparent"

    insert-hint {
        off
        gradient from="#cb000040" to="#ff491240"
    }

    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.735
    }

    focus-ring {
        off
        width 3
        active-color "#b80000bf"
    }

    border {
        on
        width 3
        active-color "#b80000bf"
        inactive-color "#505050"
        urgent-color "#8e2dcf"
    }


    struts {
        left 0
        right 0
    }

    tab-indicator {
        position "left"
        place-within-column
        hide-when-single-tab
        length total-proportion=0.25
        width 4
        gap 4
        gaps-between-tabs 8
        corner-radius 8
        active-color "#b80000bf"
        inactive-color "#50505080"
    }
}
